<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pagep.css"/>
    <title> Lili-Rose BURGOS</title>
</head>
<body>
    <div class="top">
       <img src="lili.jpg">
       <h3> Lili-Rose BURGOS</h3>
    </div>
    <div class="un">
        <p> Qui suis-je ?</p>
        
            <ul>
                <li>-Chargée de communication des réseaux sociaux </li>
                   <li>-17ans </li>
                   <li> -Première année de BUT MMI</li>
            </ul>
    </div>
    <div class="deux">
        <p> Description</p>
    </div>
    <div class="trois">
        <p> J'aime</p>
    </div>

</body>
</html>
