body{
    background-color: #c2dcfa;
    color: white;
}

.un,.deux, .trois{
    background-color: #283f79;
    vertical-align: auto;
    width: 70%;
    text-align: center;
    border-radius: 5%;
}


h3 {
    text-align: center;
}

.un p {
    text-align: center;
    padding: 0%;
}
li {
    list-style: none;
    text-align: center;
    }
.top,.un,.deux, .trois{
    margin: auto;
 }