<!doctype html>

<head>
    <link rel="stylesheet" href="Carouselle.css">
</head>
<marquee behavior="scroll" direction="left" width="100%" scrollamount="15" scrolldelay="">
    <img src="../../../Public/images/Dynamite.webp">
    <img src="../../../Public/images/Feu Multicolore.webp">
    <img src="../../../Public/images/L.G.B.D.webp">
    <img src="../../../Public/images/Le Piment.webp">
    <img src="../../../Public/images/LE Superglue.webp">
    <img src="../../../Public/images/Metal.webp">
    <img src="../../../Public/images/Panser ses blessures.webp">
</marquee>
<marquee behavior="scroll" direction="right" width="100%" scrollamount="15" scrolldelay="">
    <img src="../../../Public/images/Dynamite.webp">
    <img src="../../../Public/images/Feu Multicolore.webp">
    <img src="../../../Public/images/L.G.B.D.webp">
    <img src="../../../Public/images/Le Piment.webp">
    <img src="../../../Public/images/LE Superglue.webp">
    <img src="../../../Public/images/Metal.webp">
    <img src="../../../Public/images/Panser ses blessures.webp">
</marquee>
<marquee behavior="scroll" direction="left" width="100%" scrollamount="15" scrolldelay="">
    <img src="../../../Public/images/Dynamite.webp">
    <img src="../../../Public/images/Feu Multicolore.webp">
    <img src="../../../Public/images/L.G.B.D.webp">
    <img src="../../../Public/images/Le Piment.webp">
    <img src="../../../Public/images/LE Superglue.webp">
    <img src="../../../Public/images/Metal.webp">
    <img src="../../../Public/images/Panser ses blessures.webp">
</marquee>