<!doctype html>

<head>
    <link rel="stylesheet" href="Carouselle.css">
</head>
<marquee behavior="scroll" direction="left" width="100%" scrollamount="15" scrolldelay="">
    <img src="../../../Public/images/photos1.JPG">
    <img src="../../../Public/images/photos2.JPG">
    <img src="../../../Public/images/photos3.JPG">
</marquee>
<marquee behavior="scroll" direction="right" width="100%" scrollamount="15" scrolldelay="">
    <img src="../../../Public/images/photos4.JPG">
    <img src="../../../Public/images/photos5.JPG">
</marquee>
<marquee behavior="scroll" direction="left" width="100%" scrollamount="15" scrolldelay="">
    <img src="../../../Public/images/photos6.JPG">
    <img src="../../../Public/images/photos7.JPG">
    <img src="../../../Public/images/photos8.JPG">
</marquee>