
<link rel="stylesheet" href="carouselle.css">

<section class="section_carousel">
    <div class="carousel">
        <div class="carousel_item" style="--i:1">
            <img src="../../../Public/images/Dynamite.webp" alt="" class="carousel-img" id="bombe">
        </div>
        <div class="carousel_item" style="--i:2">
            <img src="../../../Public/images/piments.webp" alt="" class="carousel-img" id="piment">
        </div>
        <div class="carousel_item" style="--i:3">
            <img src="../../../Public/images/Metal.webp" alt="" class="carousel-img" id="ACDC">
        </div>
        <div class="carousel_item" style="--i:4">
            <img src="../../../Public/images/L.G.B.D.webp" alt="" class="carousel-img" id="De">
        </div>
        <div class="carousel_item" style="--i:5">
            <img src="../../../Public/images/Panser ses blessures.webp" alt="" class="carousel-img" id="miroire">
        </div>
        <div class="carousel_item" style="--i:6" id="logoID">
            <img src="../../../Public/images/LE Superglue.webp" alt="" class="carousel-img" id="logo">
        </div>
        
    </div>
</section>


