


<link rel="stylesheet" href="carrousel.css">
 
<section class="section_carrousel">
    <div class="carrousel">
        <div class="carrousel_item" style="--i:1">
            <img src="../../../Public/images/Dynamite.webp" alt="" class="carrousel-img" id="bombe">
        </div>
        <div class="carrousel_item" style="--i:2">
            <img src="../../../Public/images/Le Piment.webp" alt="" class="carrousel-img" id="pimentCarous">
        </div>
        <div class="carrousel_item" style="--i:3">
            <img src="../../../Public/images/Metal.webp" alt="" class="carrousel-img" id="ACDC">
        </div>
        <div class="carrousel_item" style="--i:4">
            <img src="../../../Public/images/L.G.B.D.webp" alt="" class="carrousel-img" id="DeCarous">
        </div>
        <div class="carrousel_item" style="--i:5">
            <img src="../../../Public/images/Panser ses blessures.webp" alt="" class="carrousel-img" id="miroire">
        </div>
        <div class="carrousel_item" style="--i:6" id="logoID">
            <img src="../../../Public/images/LE Superglue.webp" alt="" class="carrousel-img" id="logo">
        </div>

    </div>
</section> 


